div.bootstrap-table.fullscreen { 
    background-color: rgb(255, 233, 199);
    color: rgb(33, 37, 41);
}
.modal-body {
    background-color: rgb(255, 233, 199);
}
.btn-lakshmi-secondary, .lakshmi-source-header { 
    background-color: rgba(108,117,125,1);
    border-color: rgba(108,117,125,1);
    color: rgba(255,255,255,1);
}
.btn-lakshmi-secondary:hover { 
    background-color: rgba(90,98,104,1);
    border-color: rgba(90,98,104,1);
    color: rgba(255,255,255,1);
}
.detail-icon { 
    color: rgba(0,123,255,1);
}
.detail-icon:hover { 
    color: rgba(0,86,179,1);
}
.dropdown-menu { 
    background-color: rgba(255,255,255,1);
}
.lakshmi-alert-danger { 
    background-color: rgba(248,215,218,1);
    border-color: rgba(245,198,203,1);
    color: rgba(114,28,36,1);
}
.lakshmi-alert-info { 
    background-color: rgba(209,236,241,1);
    border-color: rgba(190,229,235,1);
    color: rgba(12,84,96,1);
}
.lakshmi-alert-success { 
    background-color: rgba(212,237,218,1);
    border-color: rgba(195,230,203,1);
    color: rgba(21,87,36,1);
}
.lakshmi-alert-warning { 
    background-color: rgba(255,243,205,1);
    border-color: rgba(255,238,186,1);
    color: rgba(133,100,4,1);
}
.lakshmi-btn-light { 
    background-color: rgba(248,249,250,1);
    border-color: rgba(248,249,250,1);
    color: rgba(33,37,41,1);
}
.lakshmi-btn-light:hover { 
    background-color: rgba(226,230,234,1);
    border-color: rgba(226,230,234,1);
    color: rgba(33,37,41,1);
}
.lakshmi-btn-primary { 
    background-color: rgba(0,123,255,1);
    border-color: rgba(0,123,255,1);
    color: rgba(255,255,255,1);
}
.lakshmi-btn-primary:hover { 
    background-color: rgba(0,105,217,1);
    border-color: rgba(0,98,204,1);
    color: rgba(255,255,255,1);
}
.lakshmi-detail { 
    color: rgba(0,123,255,1);
}
.lakshmi-detail:hover { 
    color: rgba(0,86,179,1);
}
.lakshmi-form-error { 
    color: rgb(255,0,0,1);
}
.lakshmi-form-required { 
    color: rgb(255,0,0,1);
}
#lakshmi-navbar-brand { 
    color: rgba(0,0,0,1);
}
.lakshmi-nav-link { 
    color: rgba(0,0,0,.5);
}
.lakshmi-nav-link:hover { 
    color: rgba(0,0,0,.7);
}
.lakshmi-subtitle { 
    color: rgb(128,128,128,1);
}
.lakshmi-table-header, .lakshmi-modal-header, .lakshmi-modal-footer { 
    background-color: rgba(280, 170, 60, 1);
    color: rgba(0, 0, 0, 0.5);
}
.lakshmi-table-success { 
    background-color: rgba(195,230,203,1);
}
.lakshmi-table > tbody > tr > td { 
    border-color: rgb(128,128,128,1);
}
.lakshmi-table > thead > tr > th { 
    border-color: rgb(128,128,128,1);
}
.lakshmi-text-muted { 
    color: rgba(108,117,125,1);
}
.lakshmi-text-success { 
    color: rgba(35,145,60,1);
}
.lakshmi-text-success:hover { 
    color: rgba(30,107,47,1);
}
.lakshmi-title { 
    color: rgba(0,0,0,1);
}
span.dropt:hover span:hover { 
    background: rgba(255,255,255,1);
}
span.dropt span:hover { 
    border-color: rgba(0,0,0,1);
}
.nobullet { list-style-type: none; padding: 0px; }

.image-display .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.57);
  opacity: 0;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.image-display:hover .overlay {
  opacity: 1;
}
.image-display img {
  width: 100%;
}
.image-display .icons i {
  color: rgba(255,255,255,1);
  border: 2px solid rgba(255,255,255,1);
  padding: 12px;
  margin: -42px;
  font-size: 18px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.image-display .icons i:hover {
    border-color: rgba(233,30,99,1);
    color: rgba(233,30,99,1);
}
.image-display .icons a {
  text-decoration: none;
  position: absolute;
}
.image-display .icons .preview {
  left: 40%;
  top: 45%;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.image-display .icons .below {
  left: 45%;
  top: 70%;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.image-display .icons .performer {
  left: 50%;
  margin-left: 42px;
}
.image-display .icons .link {
  left: 55%;
  margin-left: 42px;
  top: 45%;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.image-display:hover .preview {
  left: 45%;
}
.image-display:hover .link {
  left: 50%;
}
.image-display:hover .text {
  left: 50%;
}
.image-display .text {
  position: absolute;
  left: 65%;
  top: 40%;
  line-height: 1.15;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.image-display .text a {
    text-decoration: none;
}
.image-display .text i{
  color: rgba(255,255,255,1);
  font-size: 12px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.image-display .text a:hover i {
    color: rgba(233,30,99,1);
}