{% extends 'shastra_compedium/generic_wizard.tmpl' %}
{% block special_handling_form %}
<p>{{ instructions | safe }}</p>
 <font class="lakshmi-form-error">
  {% if forms.0.errors %}
    <p class="lakshmi-form-error"> There is an error on the form.</p>
  {% endif %}
  {{ forms.0.non_field_errors }}</font>
    {% csrf_token %}
    {% for hidden in forms.0.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  <table class="lakshmi-table">
    <thead class="lakshmi-table-header">
      <tr>
      <th>Position<br>Ch:Start-End</th>
      <th>Description (of Posture)</th>
      <th>Meaning</th>
      </tr>

    </thead>
    <tbody>
      {% for item_form in forms|slice:"1:" %}
      <tr {% if form.errors %}class="lakshmi-table-error"{% endif %}>
        <td>{{item_form.position}}<br>{{item_form.chapter}}:{{item_form.verse_start}}-{{item_form.verse_end}}
          {% if item_form.position.errors %}<br>
          <font class="lakshmi-form-error">{{ item_form.position.errors }}</font>
          {% endif %}<br>
          {% if item_form.chapter.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.chapter.errors }}</font>
          {% endif %}{% if item_form.verse_start.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.verse_start.errors }}</font>
          {% endif %}{% if item_form.verse_end.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.verse_end.errors }}</font>
          {% endif %}</td>
          <td>{{item_form.posture}}
          {% if item_form.posture.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.posture.errors }}</font>
          {% endif %}</td>
          <td>{{item_form.contents}}
          {% if item_form.contents.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.contents.errors }}</font>
          {% endif %}</td>
        </tr>
    {% for hidden in item_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  <br>
{% endblock %}
