{% extends 'shastra_compedium/generic_list.tmpl' %}
{% load thumbnail %}
{% block table_header %}
    <tr>
          <th data-field="name" data-sortable="true">Name</th>
          <th data-field="category" data-sortable="true">Category</th>
          <th data-field="summary" data-sortable="true">Cat Summary</th>
          <th data-field="num_combo" data-sortable="true"># Combos</th>
          <th data-field="num_images" data-sortable="true"># Images</th>
          <th data-field="num_sources" data-sortable="true"># Sources</th>
          <th data-field="action">Action</th>
      </tr>
{% endblock %}
{% block item_data %}
  {% for subject, data_set in items.combinations.items %}
    {% if subject == "NONE" %}
      {
        'id': 0,
        'name': 'NONE',
        'category': 'NONE',
        'summary': 'Need to Assign',
        'source': 'put sources here',
        'num_combo': '{{ data_set.combos|length }}',
        'num_images': '{{ data_set.images|length }}',
        'num_sources': '{{ data_set.sources|length }}',
        {% include "shastra_compedium/combo_subtable.tmpl" %}
        'action': 'N/A',
      },
    {% else %}
      {
        'id': {{ subject.pk}},
        'name': '{{ subject.name }}',
        'category': '{{ subject.category.name }}',
        'summary': '{{ subject.category.summary }}',
        'source': 'put sources here',
        'num_combo': '{{ data_set.combos|length }}',
        'num_images': '{{ data_set.subimage_count }}',
        'num_sources': '{{ data_set.sources|length }}',
        'images': '{% include "shastra_compedium/image_overlay.tmpl" with images=data_set.images extra="col-sm-4 col-lg-3" %}',
        {% include "shastra_compedium/combo_subtable.tmpl" %}
        'action': '{% if user.is_authenticated %}<a class="lakshmi-detail" href="{% url 'shastra_compedium:subject-update' subject.pk %}" title="Edit"><i class="fas fa-edit"></i></a>{% endif %}',
      },
    {% endif %}
  {% endfor %}
{% endblock %}
{% block details %}
    var html = []
    html.push('<div class="row">')
    html.push(row.images)
    html.push('</div>')
    html.push('<div class="row">')
    html.push('<div class="col-12"><table class="table lakshmi-table"><thead class="thead-dark"><tr><th>ID</th><th>Verses</th><th>Details</th><th>Positions</th><th>Sources</th><th>Action</th></tr></thead><tbody>' + row.combinations + '</tbody></table></div>')
    html.push('</div>')
    return html.join('')
{% endblock %}
