{% extends 'shastra_compedium/generic_list.tmpl' %}
{% load thumbnail %}
{% block table_header %}
    <tr>
          <th data-field="image" data-sortable="true">Usage</th>
          <th data-field="position" data-sortable="true">Positions</th>
          <th data-field="source" data-sortable="true">Source</th>
          <th data-field="contents" data-sortable="true">Contents</th>
          <th data-field="action">Action</th>
      </tr>
{% endblock %}
{% block item_data %}
  {% for combo in items.combinations %}
      {
        'id': {{ combo.pk}},
        'usage': '{{ combo.usage }}',
        'position': '{% for position in combo.positions.all %}{{ position.name }}&nbsp;<a class="lakshmi-detail" href="{% url 'shastra_compedium:position-view' position.pk %}" title="Edit"><i class="fas fa-edit"></i></a><br>{% endfor %}',
        'source': '{% for source in combo.sources.all %}{{source}}<br>{% endfor %}',
        'contents': '{{ combo.contents|safe|escapejs}}',
        'action': '{% if user.is_authenticated %}<a class="lakshmi-detail" href="" title="Edit"><i class="fas fa-edit"></i></a>{% endif %}',
      },
  {% endfor %}
{% endblock %}
{% block details %}
    var html = []
    html.push('<div class="row">')
    html.push('<div class="col-12"><table class="table lakshmi-table"><thead class="thead-dark"><tr><th>Position</th><th>Details</th></tr></thead><tbody>' + 'DETAILS HERE' + '</tbody></table></div>')
    html.push('</div>')
    return html.join('')
{% endblock %}
