{% extends 'base.html' %}
{% load static sekizai_tags thumbnail %}
{% block title %}
   {{ object.name }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
<div class="row">
<div class="col-12 col-md-6 col-lg-4">
<h2 class="lakshmi-title">{{object.name}}
 {% if user.is_authenticated %}
   <a class="lakshmi-detail" href="{% url 'shastra_compedium:dancestyle-update' object.id %}?next={{request.path}}" title="Edit"><i class="fas fa-edit"></i></a>         
 {% endif %}</h2>
</div>
</div>
  <div class="row"><div class="col-12">
    <h4>Description</h4>
    {{ object.description | safe }}
  </div></div>
  <div class="row"><div class="col-12">
    <br>
    <h4>Performers Photographed in this Site</h4>
    <ul>
    {% for performer in object.performer_set.all %}
      <li><a href="{% url 'shastra_compedium:performer-view' performer.pk %}">
        {{ performer.name }} <i class="fas fa-link"></i></a></li>
    {% endfor %}
    </ul>
  </div></div>
</div>
{% endblock content %}
