{% load thumbnail %}
  <div class="col-12 my-2 p-0"><div class="image-display"><a href="#"><img src="{% thumbnail image.image 350x350 crop=scale%}" title="{{image.position.name}}"></a><div class="overlay"><div class="icons"><a class="preview lightbox" href="{{image.image.url}}" data-toggle="tooltip" title="View"><i class="far fa-eye"></i></a></div>
  <div class="text">
    <a href="/stuff"><i>{{ image.dance_style.name }}</i>&nbsp;<i class="fas fa-link"></i></a><br>
    <a href="/things"><i>{{ image.performer.name }}</i>&nbsp;<i class="fas fa-link"></i></a></div>
  </div></div></div>