{% load thumbnail %}{% for image in images %}<div class="{{extra}} my-2 mx-4 p-0"><div class="image-display">{% if user.is_authenticated %}<a href="#"><img src="{% thumbnail image.image 350x350 crop=scale%}" title="{{image.position.name}}"></a><div class="overlay"><div class="icons"><a class="preview lightbox" href="{{image.image.url}}" data-toggle="tooltip" title="View"><i class="far fa-eye"></i></a><a class="link" href="{% url 'shastra_compedium:exampleimage-update' image.pk %}" data-toggle="tooltip" title="Edit"><i class="far fa-edit"></i></a></div></div>{% else %}<a href="{{image.image.url}}"><img src="{% thumbnail image.image 350x350 crop=scale%}" title="{{image.position.name}}"></a>{% endif %}</div></div>{% endfor %}