{% extends 'shastra_compedium/generic_list.tmpl' %}
{% block control_buttons %}
  {% for position,details in items.items %}
    {% for source,verses in details.items %}
        {% include "shastra_compedium/detail_modal.tmpl"%}
    {% endfor %}
  {% endfor %}
 <a href="{% url 'shastra_compedium:chapter-add' %}" role="button" class="btn lakshmi-btn-primary">Add a Chapter</a>&nbsp;
{% endblock %}
{% block extra_text %}
Original Source Abbreviations:
<ul>
  {% for shastra in shastras %}
  <li>{{ shastra.initials }} - {{ shastra.title }}, by {{ shastra.author }}</li>
  {% endfor %}
</ul>
{% endblock %}
{% block table_header %}
    <tr>
          <th data-field="position" data-sortable="true">Position</th>
          <th data-field="category" data-sortable="true">Category</th>
          <th data-field="order" data-sortable="true">Order</th>
    {% for source in sources %}
          <th data-field="{{source.pk}}" data-sortable="false"><span title="{{source.title}} - {{source.translator}}">{{source.shastra.initials}}<br>{{source.short_form|safe}}</span></th>
    {% endfor %}
          <th data-field="action">Action</th>
      </tr>
{% endblock %}
{% block buttons %}
      btnAdd: {
        text: 'Add new row',
        icon: 'fa-plus',
        event: function () {
          window.location.href = "{% url 'shastra_compedium:position-add' %}";
        },
        attributes: {
          title: 'Add a new item to the inventory',
        }
      }
{% endblock %}
{% block details %}
    var html = []
    html.push('<div class="row">')
    html.push('<div class="col-12"><table class="table lakshmi-table"><thead class="thead-dark"><tr><th>Source</th><th>Posture Description</th><th>Meaning</th></tr></thead><tbody>' + row.details + '</tbody></table></div>')
    html.push('</div>')
    return html.join('')
{% endblock %}
{% block item_data %}
  {% for position,details in items.items %}
      {
        'id': {{ position.pk}},
        'position': '{{ position.name }}',
        'category': '{% if position.category %}{{ position.category }}&nbsp;&nbsp;<a class="lakshmi-detail" href="{% url 'shastra_compedium:category-update' position.category.pk %}?next={{request.path}}" title="Edit"><i class="fas fa-edit"></i></a>{% endif %}',
        'order': '{{ position.order }}',
    {% for source,verses in details.items %}
        '{{source.pk}}': '<a class="lakshmi-text-success" href="#" data-toggle="modal" data-target="#Modal{{source.pk}}_{{ position.pk }}" data-backdrop="true" ><i class="far fa-check-square fa-4x"></i></a>',
    {% endfor %}
        'details': '{% for source,verses in details.items %}<tr><td class="align-top">{{ source.title }} ({{source.shastra.initials}}) - {{source.translator}}</td><td class="align-top">{% for detail in verses.PostureDescription %}<b>{{detail.verses}}:</b>  {{detail.contents|escapejs|safe}}{% endfor %}</td><td class="align-top">{% for detail in verses.Meaning %}<b>{{detail.verses}}:</b>  {{detail.contents|escapejs|safe}}{% endfor %}</td></tr>{% endfor %}',
        'action': '<a class="lakshmi-detail" href="{% url 'shastra_compedium:position-update' position.pk %}" title="Edit"><i class="fas fa-edit"></i></a>',
      },
  {% endfor %}
{% endblock %}