{% extends 'shastra_compedium/generic_wizard.tmpl' %}
{% block special_handling_form %}
<p>{{ instructions | safe }}</p>
    {% csrf_token %}
{{ formset.management_form }}

  <table class="lakshmi-table table-striped table">
    <thead class="lakshmi-table-header">
      <tr>
      <th>Position</th>
      <th>Depends On</th>
      </tr>

    </thead>
    <tbody>
      {% for item_form in formset %}
      <tr {% if item_form.errors %}class="lakshmi-table-error"{% endif %}>
        <td>{{item_form.exampleimage_set.label}}<br>
            {% for checkbox in item_form.exampleimage_set %}
        <label class="form-check-label checkbox-label" id="{{ checkbox.id_for_label }}">
          {{ checkbox.tag }}{{ checkbox.choice_label }}
        </label>
          {% endfor %}
          {% if item_form.exampleimage_set.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.exampleimage_set.errors }}</font>
          {% endif %}</td>
        <td>{{item_form.dependencies.label}}{{item_form.dependencies }}
            {% if item_form.dependencies.errors %}<br>
            <font class="lakshmi-form-error">{{ item_form.dependencies.errors }}</font>
          {% endif %}
        </td>
        </tr>
    {% for hidden in item_form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
        {% endfor %}
    </tbody>
  </table>
  <br>
{% endblock %}
{% block buttons %}
    <input type="submit" name="submit" value="Submit" class="btn lakshmi-btn-primary" >
    <a href="{{ return_url }}" class="btn lakshmi-btn-light" formnovalidate>Cancel</a>
{% endblock %}
